table.info_table
  tr 
    th 분야
    td.smallText=compInfo.topic
    th 주최사
    td.smallText=compInfo.host
    th 대상
    td.smallText=compInfo.applicant

  tr  
    th 담당자
    td.smallText=compInfo.manager
    th 연락처
    td.smallText=compInfo.contact
    th 장소
    td.smallText=compInfo.location

  tr
    th 시작일자
    td.smallText=compInfo.start
    th 마감일자
    td.smallText=compInfo.end

if compInfo.location_map
  .smallText!= compInfo.location_map
  .smallText#lat(data-value=compInfo.lat)= compInfo.lat 
  .smallText#lng(data-value=compInfo.lng)= compInfo.lng
  .map_wrap
    #map(style='width:100%;height:100%;position:relative;overflow:hidden;')
      |      
    .hAddr        
      span#centerAddr
        script(type='text/javascript', src='//dapi.kakao.com/v2/maps/sdk.js?appkey=7235e7c57191d55774b383b2856384b2&libraries=services')
        script.
          var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
              mapOption = { 
                  center: new daum.maps.LatLng($('#lat').data('value'), $('#lng').data('value')), // 지도의 중심좌표
                  level: 3 // 지도의 확대 레벨
              };

          var staticmap = new daum.maps.StaticMap(mapContainer, mapOption); // 지도를 생성합니다

          // 지도를 클릭한 위치에 표출할 마커입니다
          var marker = new daum.maps.Marker({ 
              // 지도 중심좌표에 마커를 생성합니다 
              position: markerPosition             
          }); 
              // 지도에 마커를 표시합니다
          marker.setMap(map);
          map.setDraggable(false);
          map.setZoomable(false); 


.content !{compInfo.content}


br
br
p(style= "font-weight: bold") 참고
.content=compInfo.ref

.tags.badges
  each tag in compInfo.tags 
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= compInfo.numLikes] 좋아요,
      #[span.number.num-comments= compInfo.numComments] 댓글,
      #[span.number.num-views= compInfo.numReads] 조회
  .col-sm
    .author
      | 글작성시간 #{moment(compInfo.createdAt).format('YYYY-MM-DD')}
      if compInfo.author
        | 
        | by #[a(href=`/users/${compInfo.author.id}`)= compInfo.author.name] 
