extends ../layout
block content
  .container
    h1.main-title= compInfo.title

    .compInfo.show
      include _compInfo

      .buttons
        if currentUser
          button.btn.btn-primary.compInfo-like-btn(data-id=compInfo.id)
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] 좋아요
          button.btn.btn-outline-dark.favorite(data-id=compInfo.id) 즐겨찾기
          button.btn.btn-secondary.off(data-id=compInfo.id) 신고하기
          .fb-share-button(data-layout="button" data-size="large" data-mobile-iframe="true" style="float:right")
            a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse") 공유하기   
          if compInfo.author && compInfo.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/compInfos/${compInfo.id}/edit`) 수정
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/compInfos/${compInfo.id}?_method=delete`) 삭제
          if currentUser.role=="manager"
            a.btn.btn-outline-secondary(href=`/compInfos/${compInfo.id}/editbyadmin`) 관리자 권한으로 수정
            a.btn.btn-outline-danger.need-confirm-btn(href=`/compInfos/${compInfo.id}?_method=delete`) 관리자 권한으로 삭제

    if compInfo.numComments > 0
      hr
      h3 #{compInfo.numComments} 개의 댓글
      .comments.show
        each comment in comments
          include _comment

    if currentUser
      form(action=`/compInfos/${compInfo.id}/comments`, method='POST')
        .form-group
          label(for='comment') 댓글
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") 등록

    


  script(src='/javascripts/compInfo_client.js') 

  #fb-root
  script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.2&appId=217833632441312&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));  