extends ../layout

block content
  .container
    h1.main-title 사용자
    
    table.table.table-hover
      thead
        tr
          th 이름
          th 이메일
          th 가입일자
          th
      tbody
        each user in users
          tr
            td
              a(href=`/users/${user._id}`)= user.name
            td= user.email
            td= moment(user.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td
              a.btn.btn-sm.btn-outline-secondary(href=`/users/${user._id}/edit`) 
                | #[i.fa.fa-pencil] 내 정보 수정
              | 
              a.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`/users/${user._id}?_method=DELETE`)
                | #[i.fa.fa-trash] 탈퇴하기
    a.btn.btn-primary(href='/users/new') #[i.fa.fa-plus] Register a new user
