.comment.card
  .numbers.like-badge
    .number
      span.number.num-votes= comp_info.numLikes
    .button
      a.like(href='#', data-id=comment.id)
        i.fa.fa-thumbs-up
        | 
        | Like

  .card-body
    .content= comment.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | 댓글 작성 시간 #{moment(comment.createdAt).format('YYYY-MM-DD')}
        if comment.author
          | 
          | by #[a(href=`/users/${comment.author.id}`)= comment.author.name]
