.form-group
  label(for="title") 제목
  input.form-control(type="text", name="title", placeholder="공모전 이름", value=comp_info.title)

.form-group
  label(for="host") 주최사
  input.form-control(type="text", name="host", placeholder="주최사", value=comp_info.host)

.form-group
  label(for="manager") 담당자
  input.form-control(type="text", name="manager", placeholder="담당자/부서명", value=comp_info.manager)

.form-group
  label(for="contact") 연락처
  input.form-control(type="text", name="contact", placeholder="연락처", value=comp_info.contact)

.form-group
  label(for="location") 장소
  input.form-control(type="text", name="location", placeholder="특정한 개최 장소가 있을 경우 입력해 주세요.", value=comp_info.location)

.form-group
  label(for="topic") 주제 &nbsp;
  select.form-control(name="topic")= comp_info.topic
    option(value="Idea") 기획/아이디어
    option(value="Marketing") 광고/마케팅
    option(value="Report") 논문/리포트
    option(value="Video") 영상
    option(value="Picture") 사진
    option(value="Design") 아트/디자인
    option(value="WebMobile") 웹/모바일
    option(value="Software") 소프트웨어
    option(value="Literature") 문학/시나리오
    option(value="Volunteer") 봉사활동
    option(value="Etc") 기타

.form-group
  label(for="comp_info") 본문
  textarea(name="content", style="display:none")= comp_info.content
  .summernote 
.form-group
  label(for="ref") 참고할 만한 자료가 있다면 기입해주세요.
  input.form-control(type="text", name="ref", placeholder="참고자료", value=comp_info.ref)
.form-group
  label(for="tags") 태그
  input.form-control(type="text", name="tags", placeholder="스페이스 바로 태그를 분리합니다.", value=comp_info.tags ? comp_info.tags.join(" ") : "")

.form-group
  .g-recaptcha(data-sitekey='6LdRlX0UAAAAALw39KFP_5TjwMJjjR4pmRxwj6Yx')

