extends ../layout
block content
  .container
    h1.main-title= comp_info.title

    .comp_info.show
      include _comp_info

      .buttons
        if currentUser
          button.btn.btn-primary.comp_info-like-btn(data-id=comp_info.id)
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] 좋아요
          a.btn.btn-outline-dark(href=`/comp_infos/${comp_info._id}/favorite`) 즐겨찾기
          button.btn.btn-secondary(type='button', data-toggle='modal', data-target='#exampleModal')
            | 신고하기
          .fb-share-button(data-layout="button" data-size="large" data-mobile-iframe="true" style="float:right")
            a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse") 공유하기   
          if comp_info.author && comp_info.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/comp_infos/${comp_info.id}/edit`) 수정
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/comp_infos/${comp_info.id}?_method=delete`) 삭제
          if currentUser.role=="manager"
            a.btn.btn-outline-secondary(href=`/comp_infos/${comp_info.id}/editbyadmin`) 관리자 권한으로 수정


    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title 신고
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            | 정말 이 게시글을 신고하시겠습니까?            
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') 닫기
            button.btn.btn-primary.off(type='button') 신고하기    

    if comp_info.numComments > 0
      hr
      h3 #{comp_info.numComments} 개의 댓글
      .comments.show
        each comment in comments
          include _comment

    if currentUser
      form(action=`/comp_infos/${comp_info.id}/comments`, method='POST')
        .form-group
          label(for='comment') 댓글
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") 등록

    


  script(src='/javascripts/comp_info_client.js') 

  #fb-root
  script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.2&appId=217833632441312&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));  